In [91]:
# libs
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer

In [92]:
# read data
boys = pd.read_csv("Boys.csv", encoding='Windows-1251', sep=';', header=0)
boys.drop('ID', axis=1, inplace=True)
girls = pd.read_csv("Girls.csv", encoding='Windows-1251', sep=';')
girls.drop('ID', axis=1, inplace=True)

In [93]:
boys.head()
girls.head()

        Name  NumberOfPersons  global_id  Year   Month
0      Мария              252   37750254  2015  январь
1  Анастасия              224   37750255  2015  январь
2       Анна              190   37750256  2015  январь
3    Варвара              190   37750257  2015  январь
4   Виктория              186   37750258  2015  январь

In [94]:
girls['Sex'] = 0
boys['Sex'] = 1

In [95]:
df_names = pd.concat([girls, boys])

In [96]:
df_names

           Name  NumberOfPersons   global_id  Year   Month  Sex
0         Мария              252    37750254  2015  январь    0
1     Анастасия              224    37750255  2015  январь    0
2          Анна              190    37750256  2015  январь    0
3       Варвара              190    37750257  2015  январь    0
4      Виктория              186    37750258  2015  январь    0
...         ...              ...         ...   ...     ...  ...
6795      Ислам                9  1062034268  2020  август    1
6796      Антон                9  1062034269  2020  август    1
6797      Самир                9  1062034270  2020  август    1
6798       Алим                9  1062034271  2020  август    1
6799       Даян                9  1062034272  2020  август    1

[13600 rows x 6 columns]

In [97]:
Xfeatures = df_names['Name']

In [98]:
cv = CountVectorizer()
X = cv.fit_transform(Xfeatures)

In [99]:
cv.get_feature_names()

['аарон',
 'абдулла',
 'абдуллах',
 'абубакр',
 'аврора',
 'агата',
 'аглая',
 'агния',
 'адам',
 'аделина',
 'адель',
 'аделя',
 'адриан',
 'адриана',
 'азалия',
 'аида',
 'аиша',
 'айбийке',
 'айдар',
 'айлин',
 'айша',
 'аким',
 'аксинья',
 'алан',
 'алекс',
 'александр',
 'александра',
 'алексей',
 'алена',
 'алеся',
 'али',
 'алим',
 'алина',
 'алинур',
 'алиса',
 'алисия',
 'алихан',
 'алия',
 'алла',
 'алсу',
 'альберт',
 'альбина',
 'альфия',
 'алёна',
 'амалия',
 'амелия',
 'амин',
 'амина',
 'амир',
 'амира',
 'амирхан',
 'анастасия',
 'анатолий',
 'ангелина',
 'андрей',
 'анжелика',
 'ани',
 'аниса',
 'анисия',
 'анна',
 'антон',
 'антонина',
 'анфиса',
 'ариана',
 'арианна',
 'ариет',
 'арина',
 'аркадий',
 'армен',
 'арсен',
 'арсений',
 'арслан',
 'артем',
 'артемий',
 'артур',
 'артём',
 'аруузат',
 'арууке',
 'архип',
 'асия',
 'аслан',
 'ася',
 'афина',
 'ахмад',
 'ахмед',
 'аяна',
 'белла',
 'билал',
 'богдан',
 'борис',
 'булат',
 'вадим',
 'валентина',
 'валерий',
 'валерия',
 'варвара',
 'василий',
 'василина',
 'василиса',
 'вера',
 'вероника',
 'виктор',
 'виктория',
 'виолетта',
 'виталий',
 'виталина',
 'влада',
 'владимир',
 'владислав',
 'владислава',
 'всеволод',
 'вячеслав',
 'гавриил',
 'галина',
 'геннадий',
 'георгий',
 'герман',
 'глафира',
 'глеб',
 'гордей',
 'григорий',
 'давид',
 'дамир',
 'дана',
 'даниил',
 'данил',
 'данила',
 'даниль',
 'данис',
 'даниэла',
 'даниэль',
 'даниял',
 'данияр',
 'дарина',
 'дария',
 'дарья',
 'даян',
 'демид',
 'демьян',
 'денис',
 'диана',
 'дина',
 'дмитрий',
 'добрыня',
 'доминика',
 'ева',
 'евангелина',
 'евгений',
 'евгения',
 'евдокия',
 'егор',
 'екатерина',
 'елена',
 'елизавета',
 'елисей',
 'есения',
 'ефим',
 'жасмин',
 'жасмина',
 'зайнаб',
 'зарина',
 'захар',
 'злата',
 'златослава',
 'зоя',
 'ибрагим',
 'иван',
 'игнат',
 'игорь',
 'идрис',
 'изабелла',
 'илья',
 'ильяс',
 'имран',
 'ирина',
 'иса',
 'ислам',
 'исмаил',
 'камила',
 'камилла',
 'камиль',
 'карим',
 'карина',
 'каролина',
 'катерина',
 'кира',
 'кирилл',
 'клим',
 'константин',
 'кристина',
 'ксения',
 'кузьма',
 'лада',
 'лев',
 'лейла',
 'леон',
 'леонид',
 'лея',
 'лиана',
 'лидия',
 'лилия',
 'лина',
 'лия',
 'луиза',
 'лука',
 'луна',
 'любовь',
 'людмила',
 'магомед',
 'мадина',
 'майя',
 'макар',
 'максим',
 'максимилиан',
 'малика',
 'мансур',
 'марат',
 'маргарита',
 'мариам',
 'марианна',
 'марина',
 'мария',
 'мариям',
 'марк',
 'марсель',
 'марта',
 'мартин',
 'марфа',
 'марьям',
 'марьяна',
 'матвей',
 'медина',
 'мелания',
 'мелисса',
 'миа',
 'микаил',
 'микаэль',
 'мила',
 'милана',
 'милена',
 'милослава',
 'мира',
 'мирон',
 'мирослав',
 'мирослава',
 'михаил',
 'мишель',
 'мия',
 'моника',
 'мурад',
 'муслим',
 'муслима',
 'мустафа',
 'мухаммад',
 'мухаммед',
 'надежда',
 'назар',
 'наталия',
 'наталья',
 'нелли',
 'ника',
 'никита',
 'николай',
 'николь',
 'нина',
 'нурислам',
 'олег',
 'олеся',
 'оливия',
 'ольга',
 'омар',
 'оскар',
 'осман',
 'павел',
 'пелагея',
 'петр',
 'платон',
 'полина',
 'прохор',
 'пётр',
 'рада',
 'рамазан',
 'рамзан',
 'рамиль',
 'расул',
 'ратмир',
 'рафаэль',
 'раяна',
 'регина',
 'роберт',
 'родион',
 'роман',
 'рослав',
 'ростислав',
 'руслан',
 'рустам',
 'сабина',
 'сабрина',
 'савва',
 'савелий',
 'саид',
 'саида',
 'салима',
 'салиха',
 'самир',
 'самира',
 'сара',
 'сафина',
 'сафия',
 'светлана',
 'святослав',
 'семен',
 'семён',
 'серафим',
 'серафима',
 'сергей',
 'снежана',
 'соня',
 'софия',
 'софья',
 'станислав',
 'станислава',
 'степан',
 'стефан',
 'стефания',
 'сулейман',
 'сумайя',
 'сумая',
 'таисия',
 'тамара',
 'тамерлан',
 'татьяна',
 'теодор',
 'теона',
 'тея',
 'тигран',
 'тимофей',
 'тимур',
 'тихон',
 'ульяна',
 'умар',
 'усман',
 'фатима',
 'федор',
 'феликс',
 'филипп',
 'фёдор',
 'хадиджа',
 'хадижа',
 'халид',
 'хамза',
 'шамиль',
 'эвелина',
 'эдуард',
 'элеонора',
 'элиза',
 'элина',
 'эльдар',
 'эмилия',
 'эмиль',
 'эмин',
 'эмир',
 'эмирхан',
 'эмма',
 'эрик',
 'юлиана',
 'юлия',
 'юрий',
 'юсуф',
 'яков',
 'ян',
 'яна',
 'яромир',
 'ярослав',
 'ярослава',
 'ясина',
 'ясмин',
 'ясмина']

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
y = df_names['Sex']

In [102]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [103]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.9968805704099821

In [104]:
print("Accuracy:",clf.score(X_test,y_test))

Accuracy: 0.9968805704099821

In [105]:
names = ["Дарья","Миша","Степа","Соня","Вера","Рома","Никита"]

In [106]:
def appeal(name):
    if clf.predict(cv.transform([name]).toarray()) == 0:
        print("Уважаемая", name)
    else:
        print("Уважаемый", name)

In [107]:
for name in names:
    appeal(name)

Уважаемая Дарья
Уважаемый Миша
Уважаемый Степа
Уважаемая Соня
Уважаемая Вера
Уважаемый Рома
Уважаемый Никита